services:
    dotnet-watch-docker-example:
        container_name: tac-tix-api
        image: mcr.microsoft.com/dotnet/core/sdk:3.0
        ports:
            - 5000:5000
        volumes:
            - ./src/TacTix.WebApi:/app
        working_dir: /app
        command: dotnet watch run
        depends_on:
            - db
    db:
        image: "mcr.microsoft.com/mssql/server:2019-latest"
        user: root
        ports:
            - "1433:1433"
        volumes:
            - sql1data:/var/opt/mssql/data
        environment:
            SA_PASSWORD: "U^,zIg#VIO*82kT:"
            ACCEPT_EULA: "Y"
volumes:
  sql1data:
    driver: local